<header>
<nav>
    <ul>
        <a href="/"><li>Home</li></a>
         <a href="/clientes"><li> Listar Clientes </li></a>
         <a href="/cadastrarcliente"><li>Cadastrar cliente</li> </a>
        <a href="/fornecedores"> <li>Listar Fornecedores</li></a>
        
    </ul>
</nav>
</header>